POSTGRES_DB=digital_company
POSTGRES_USER=digital_company
POSTGRES_PASSWORD=digital_company
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:8000
SCHEDULER_ENABLED=false
SELF_IMPROVEMENT_INTERVAL_SECONDS=86400
